# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
scheduled/venv/
realtime/venv/
subscriptions/venv/
scheduled/__pycache__
realtime/__pycache__
subscriptions/__pycache__
realtime/audio/
libraries/whisper_streaming/venv/
libraries/whisper_streaming/__pycache__
whisper_streaming/venv
whisper_streaming/__pycache__
florence2/venv
florence2/__pycache__


# Ignore version control directories
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore large files and directories
node_modules/
dist/
build/
*.log
*.tmp

# Ignore environment files
.env