
scheduled-injest/tweet-scrape/scrape-env/

scheduled-injest/tweet-scrape/img/

scheduled-injest/scrape-env/

scheduled-injest/venv/

scheduled-injest/__pycache__/

scheduled-injest/.env

realtime-ingest/.env

scheduled-injest/tweet-scrape/.env

scheduled-injest/server_stats/.env

scheduled-injest/server_stats/__pycache__/

scheduled-injest/emails/.env

scheduled-injest/emails/__pycache__/

scheduled-injest/contacts/.env

scheduled-injest/contacts/__pycache__/

scheduled-injest/calendars/.env

scheduled-injest/calendars/__pycache__/

scheduled-injest/budget/.env

scheduled-injest/budget/__pycache__/

knowledge-base/

android-app/app/not-done/

visualize/venv
visualize/__pycache__/
visualize/.ipynb_checkpoints/

realtime-injest/venv/
realtime-injest/.env

visualize/.env

visualize/projector_logs/

realtime-injest/processors/__pycache__/

realtime-injest/db/__pycache__/

scheduled-injest/tweet-scrape/good/

db/schema.sql

scheduled-injest/tweet-scrape/tweets_with_data.json

scheduled-injest/tweet-scrape/tweets.json

scheduled-injest/tweet-scrape/x_session.json
gotify/.env
tools/gotify/.env

scheduled-injest/tweets/good/
scheduled-injest/tweets/img/
scheduled-injest/github/.env
scheduled-injest/github/__pycache__/

scheduled-injest/tweets/__pycache__/

scheduled-injest/tweets/.env

realtime-injest/audio/

subscriptions/venv/

subscriptions/.env

.vscode/

db/schema_backup.sql

scheduled-injest/manager.log

scheduled-injest/x_session.json

subscriptions/__pycache__/

subscriptions/handlers/gps/__pycache__/

subscriptions/handlers/sensor/__pycache__/

subscriptions/tools/gotify/__pycache__/

subscriptions/tools/gotify/.env

subscriptions/subscription_handler.log

subscriptions/handlers/__pycache__/
realtime-injest/whisper_cache/
talk/venv/

libraries/whisper_streaming/

libraries/__pycache__/

subscriptions/handlers/email/__pycache__/

talk/Hermes-2-Pro-Mistral-7B.Q4_K_Maa.gguf

libraries/gotify/__pycache__/

libraries/gotify/.env

libraries/.env

realtime-injest/process_audio.log

scheduled-injest/youtube/.env

scheduled-injest/db_schema/__pycache__/

scheduled-injest/train_zero_shot/.env

scheduled-injest/train_zero_shot/__pycache__/


android-app/app/build/

android-app/app/src/.DS_Store

android-app/.DS_Store

android-app/.gradle/

android-app/.idea/

android-app/app/src/main/.DS_Store

android-app/app/src/main/res/.DS_Store

android-app/app/src/main/java/red/steele/injest/.env

android-app/app/src/main/java/red/steele/injest/.DS_Store

android-app/app/src/main/java/red/steele/.DS_Store

db/.env

db/timescaledb.env

maps/.env

maps/raw_docker_cli


scheduled-injest/tweet-scrape/scrape-env/

scheduled-injest/tweet-scrape/img/

scheduled-injest/scrape-env/

scheduled-injest/venv/

scheduled-injest/__pycache__/

scheduled-injest/.env

realtime-ingest/.env

scheduled-injest/tweet-scrape/.env

scheduled-injest/server_stats/.env

scheduled-injest/server_stats/__pycache__/

scheduled-injest/emails/.env

scheduled-injest/emails/__pycache__/

scheduled-injest/contacts/.env

scheduled-injest/contacts/__pycache__/

scheduled-injest/calendars/.env

scheduled-injest/calendars/__pycache__/

scheduled-injest/budget/.env

scheduled-injest/budget/__pycache__/

knowledge-base/

android-app/app/not-done/

visualize/venv
visualize/__pycache__/
visualize/.ipynb_checkpoints/

realtime-injest/venv/
realtime-injest/.env

visualize/.env

visualize/projector_logs/

realtime-injest/processors/__pycache__/

realtime-injest/db/__pycache__/

scheduled-injest/tweet-scrape/good/

db/schema.sql

scheduled-injest/tweet-scrape/tweets_with_data.json

scheduled-injest/tweet-scrape/tweets.json

scheduled-injest/tweet-scrape/x_session.json
gotify/.env
tools/gotify/.env

scheduled-injest/tweets/good/
scheduled-injest/tweets/img/
scheduled-injest/github/.env
scheduled-injest/github/__pycache__/

scheduled-injest/tweets/__pycache__/

scheduled-injest/tweets/.env

realtime-injest/audio/

subscriptions/venv/

subscriptions/.env

.vscode/

db/schema_backup.sql

scheduled-injest/manager.log

scheduled-injest/x_session.json

subscriptions/__pycache__/

subscriptions/handlers/gps/__pycache__/

subscriptions/handlers/sensor/__pycache__/

subscriptions/tools/gotify/__pycache__/

subscriptions/tools/gotify/.env

subscriptions/subscription_handler.log

subscriptions/handlers/__pycache__/
realtime-injest/whisper_cache/
talk/venv/

libraries/whisper_streaming/

libraries/__pycache__/

subscriptions/handlers/email/__pycache__/

talk/Hermes-2-Pro-Mistral-7B.Q4_K_Maa.gguf

libraries/gotify/__pycache__/

libraries/gotify/.env

libraries/.env

realtime-injest/process_audio.log

scheduled-injest/youtube/.env

scheduled-injest/db_schema/__pycache__/

scheduled-injest/train_zero_shot/.env

scheduled-injest/train_zero_shot/__pycache__/

visualize/

cron-able-ingest-scripts/

.env

local-talking-llm/

android-app/app/src/main/assets/env

libraries/db/__pycache__/

realtime/venv/

scheduled/__pycache__/

scheduled/venv/

realtime/audio/

realtime/processors/__pycache__/

scheduled/budget/__pycache__/

scheduled/calendars/__pycache__/

scheduled/contacts/__pycache__/

scheduled/emails/__pycache__/

scheduled/github/__pycache__/

scheduled/server_stats/__pycache__/

scheduled/tweets/__pycache__/

scheduled/manager.log

realtime/process_audio.log

scheduled/started.txt

subscriptions/started.txt

whisper_streaming/

llamafile/model/Meta-Llama-3.1-8B.Q4_0.llamafile

docker-compose_AI_test_setups.yml

realtime/__pycache__/

*.llamafile
